@{
    ViewBag.Title = "Dashboard Start";
}



@if (Request.IsAuthenticated)
{
  @*<div class="col-sm-12 col-md-12 col-lg-12 earth">
    <div class="earthtext">
      <h2>Welcome to</h2>
      <img src="@Url.Content("~/Images/tellytlogo3.svg")" class="logo2">
    </div>
  </div>*@
  <!--/main-->
}

<div class="homebackground1">

  <div class="homebackground1buttons">
    <div class="row">
      <div class="col-12">
        <div class="searchpeoplebutton">
          <span class="home1buttontext">Search People</span>
        </div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12">
        <div class="startinterviewbutton">
          <span class="home1buttontext">Start Your Life Interview</span>
        </div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12">
        <div class="loginbutton">
          <span class="home1buttontext">Login</span>
        </div>
      </div>
    </div>
  </div>

</div>

@section Scripts
{
  <script>

    @*$("#btnJoinFacebook").click(function () {
      //Just redirect to the interview page, which will force them to log in
      var nextUrl = '@@Url.Action("Index", "Interview")';
      window.location.href = nextUrl;
      return;
    });

    $("#btnJoinGoogle").click(function () {
      //Just redirect to the interview page, which will force them to log in
      var nextUrl = '@Url.Action("Index", "Interview")';
      window.location.href = nextUrl;
      return;
    });

    $("#btnJoinEmail").click(function () {
      if ($("#selectJoinRow").is(":visible")) {
        //$("#selectJoinRow").hide("slow");
        $("#selectJoinRow").hide();
        $("#createAccountRow").fadeIn(1000);
      } else {
        $("#createAccountRow").fadeIn(1000);
      }
    });

    $("#btnSignIn").click(function () {
      ClearValidation();
      //Just redirect to the interview page, which will force them to log in
      var nextUrl = '@Url.Action("Index", "Interview")';
      window.location.href = nextUrl;
      return;

    });

    $("#btnJoin").click(function () {
      ClearValidation();
      if ($("#createAccountRow").is(":visible")) {
        $("#createAccountRow").hide();
      }
      if ($("#selectProviderRow").is(":visible")) {
        $("#selectProviderRow").hide();
        $("#selectJoinRow").fadeIn(1000);
      } else {
        $("#selectJoinRow").fadeIn(1000);
      }
    });

    $("#btnCreateAccountEmail").click(function() {
      if (ValidateJoinFields()) {
        //Sign me up!
        $.post("@Url.Content("~/Account/CreateUserAccount")", { firstName: $("#firstName").val(), lastName: $("#lastName").val(), email: $("#emailAddress").val(), password: $("#password").val() }, function (data) {
          var returnData = data;
          var returnUserData = jQuery.parseJSON(data);
          if (!returnUserData.IsValid) {
            $("#errorMessage").html(returnUserData.Error);
            $("#errorRow").show();
            return;
          }

          //alert("user created! go to the next page");
          var nextUrl = '@Url.Action("Index", "Interview")';
          window.location.href = nextUrl;
          return;
        });

      }
      }
    );

    function ClearValidation() {
      removeTextBoxError($("#firstName"));
      removeTextBoxError($("#lastName"));
      removeTextBoxError($("#emailAddress"));
      removeTextBoxError($("#emailAddress2"));
      removeTextBoxError($("#password"));
    }

    function ValidateJoinFields() {
      ClearValidation();
      if ($("#firstName").val().length == 0) {
        raiseTextBoxError($("#firstName"));
        return false;
      }
      if ($("#lastName").val().length == 0) {
        raiseTextBoxError($("#lastName"));
        return false;
      }
      if ($("#emailAddress").val().length == 0) {
        raiseTextBoxError($("#emailAddress"));
        return false;
      }
      if ($("#emailAddress2").val().length == 0) {
        raiseTextBoxError($("#emailAddress2"));
        return false;
      }
      if ($("#password").val().length == 0) {
        raiseTextBoxError($("#password"));
        return false;
      }
      if ($("#emailAddress").val() != $("#emailAddress2").val()) {
        raiseTextBoxErrorWithMessage($("#emailAddress2"), "Your 2 email addresses must match.");
      }
      if ($("#password").val().length < 8) {
        raiseTextBoxErrorWithMessage($("#password"), "Your password must be 8 characters in length.");
        return false;
      }
      return true;
    }*@

    $(function () {
      //if ($("#isSignedIn").val() == "True") {
      //  $("#divSidebar").hide();
      //  $("#divShowSide").show();
      //  $("#logoFlame").show();
      //  $('.showside').click(function () {
      //    if ($("#divSidebar").is(":visible")) {
      //      $("#divSidebar").hide();
      //    } else {
      //      $("#divSidebar").show();
      //    }
      //  });
      //} else {
      //  DeactivateMenuOptions();
      //  $("#divSidebar").hide();
      //  $("#logoFlame").hide();
      //}

    });

    $(document).ready(function() {
      //if ($("#isSignedIn").val() == "True") {
      //  $("#divSidebar").hide();
      //  $("#divShowSide").show();
      //  $("#logoFlame").show();
      //  $('.showside').click(function () {
      //    if ($("#divSidebar").is(":visible")) {
      //      $("#divSidebar").show();
      //    } else {
      //      $("#divSidebar").hide();
      //    }
      //  });
      //  $('.earthtext').delay(500).fadeTo(1500, 1);
      //} else {
      //  DeactivateMenuOptions();
      //  $("#divSidebar").hide();
      //  $("#logoFlame").hide();
      //  $('.earthtext').delay(500).fadeTo(1000, 1);
      //}
    });
  </script>
}